@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/Poppins.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/Bebas-Neue.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: Poppins, sans-serif;
    font-style: normal;

    overflow: hidden;

    margin: 0;
    padding: 0;
}

#circle {
    background: url("./assets/images/items/circle.svg");
    position: absolute;
    width: 48px;
    height: 48px;
    left: 16px;
    top: 111px;

    -webkit-animation: animationtop 10s infinite;
    z-index: -1;
}

#rectangle {
    background: url("./assets/images/items/rectangle.svg");
    position: absolute;
    width: 32px;
    height: 39px;
    left: 348px;
    top: 319px;

    -webkit-animation: animationleft 10s infinite;
}

#triangle {
    background: url("./assets/images/items/triangle.svg");
    position: absolute;
    width: 43px;
    height: 42px;
    right: 130px;
    top: 49px;

    -webkit-animation: animationrightup 10s infinite;
}

#square {
    background: url("./assets/images/items/square.svg");
    position: absolute;
    width: 48px;
    height: 48px;
    right: 726px;
    top: 419px;

    -webkit-animation: animationleftup 10s infinite;
}

nav {
    display: grid;
    grid-template-columns: 155px 1fr;
    align-items: center;
    margin: 10px;
}

.logo {
    background: url("./assets/images/svg/logo.svg") no-repeat;
    width: 150px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.navigation {
    display: flex;
}

ul {
    margin-top: 20px;
}

a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;

    text-decoration: none;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #616462;
}

a:hover {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #6CB48F;
}

.title {
    margin: 80px 0px 0px 20px;
    padding: 0px;
}

h3 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 36px;

    margin: 0px 0px 0px 5px;

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #4E7D5E;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 90px;

    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    color: #000000;

}

.island {
    position: absolute;
    width: 600px;
    right: 120px;
    top: 15px;
    z-index: -1;
}

.description {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;

    margin: 10px 0px 0px 22px;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #707581;
}

.next {
    display: flex;

    position: absolute;
    bottom: 10px;
    margin-left: 30px;

    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.btn {
    width: 69px;
    height: 41px;
    justify-content: center;
    margin: 10px;

    background: #FCA034;
    border-radius: 100px;
}

.lets-go {
    background: url("./assets/images/svg/lets-go.svg") no-repeat;
    width: 82px;
    height: 31px;
    margin: 10px;
}

.me {
    background: url("./assets/images/svg/me.svg") no-repeat;
    cursor: pointer;

    position: absolute;
    bottom: 10px;
    right: 40px;

    width: 150px;
    height: 111px;
}

@keyframes animationtop {
    0% { transform: translate(0); }
    50% { transform: translateY(20px); }
    100% { transform: translate(0); }
}

@keyframes animationleft {
    0% { transform: translate(0); }
    50% { transform: translateX(20px); }
    100% { transform: translate(0); }
}

@keyframes animationrightup {
    0% { transform: translate(0); }
    50% { transform: translate(-20px, 20px); }
    100% { transform: translate(0); }
}

@keyframes animationleftup {
    0% { transform: translate(0); }
    50% { transform: translate(30px, 30px); }
    100% { transform: translate(0); }
}

