header {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  .logo {
    background: url("/assets/Ease/images/logo.svg") no-repeat;
    width: 12rem;
    height: 2.2rem;
    background-size: 10rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;

    a {
      color: #3D9090;
      text-decoration: none;
      text-transform: uppercase;

      font-style: normal;
      letter-spacing: 0.055em;
      margin-right: 3rem;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}

main {

  .left {
    display: flex;
    flex-direction: column;

    p {
      font-weight: 100;
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 0.055em;
    }

    .selection {
      display: flex;

      .characteristics {
        z-index: 8;

        p {
          font-weight: 400;
          font-size: 1rem;
          margin: 5px 0;
        }
      }

      .ellipse {
        position: absolute;
        background: #E4D7B9;
        z-index: 2;

        border-radius: 50%;

        width: 400px;
        height: 400px;
        
        left: -50px;
        bottom: 50px;
      }

      .selected-lamp {}

      .selector {}
    }
  }
}
